#canvas {
  margin: 0;
  display: flex;

  /* Center our canvas horizontally */
  justify-content: center;

  /* Center our canvas vertically */
  align-items: center;
}

.align-center{
  text-align: center;
}
